/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: purple;
}
.title{
	text-align: center;
	font-size: 50px;
	padding: 50px;
}
.sub-title{
	text-align: center;
	padding: 20px;
}
.title-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 50px;
}
.text{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
p{
	margin-bottom: 10px;
}
strong{
	color: red;
	font-weight: bold;
}
footer{
	font-size: 12px;
	text-align: center;
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid black;
    margin: 1em 0; padding: 0; }
/*
/* The grid: Four equal columns that floats next to each other */

/* remove margins and paddings everywhere */
/* so 100vh doesn't make scrollbar appear */
body,html {
       	margin: 0;
       	padding: 0;
}
/* {
	* box-sizing: border-box;
	* }
*/

.column {
        float: left; 
	width: calc(100%/6);
	
}

/* Style the images inside the grid */
.column img {
        opacity: 0.8;
        cursor: pointer;
	width: 100%;
}

.column img:hover {
        opacity: 1;
}

.row {
}
/* Clear floats after the columns */
.row:after {
        content: "";
        display: table;
        clear: both;
	/*padding-bottom:23.5702260396%;*/
}


/* The expanding image container (positioning is needed to position the close button and the text) */
.img_container {
       	/*position: absolute;*/
       	display: none;
	padding: 0px;
}

/* Expanding image text */
#imgtext {
       	position: absolute;
       	bottom: 15px;
       	left: 15px;
       	color: white;
       	font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
       	position: absolute;
       	top: 10px;
       	right: 15px;
       	color: white;
       	font-size: 35px;
       	cursor: pointer;
}

.container {
	height: 100vh;
	overflow: hidden;
	position: relative;
	padding: 0px;
	background: black;
}

.sliding_background {
	position: absolute;
	left: 0;
	padding: 0px;
	/*animation: slide 10s linear infinite;*/
	/*animation: 3s linear 0s slide infinite;*/
	/*animation: slide 20s infinite;*/
}
.image_set_container {
       	/*position: absolute;
	width: 100%;
	left: 0;
	padding: 0px;
	animation: slide 10s linear infinite;
	animation: 3s linear 0s slide infinite;
	animation: slide 20s infinite;*/
}

@keyframes slide {
	from{
		bottom: -150%;
	}
	to{
		bottom: 150%;
	}
}
#debugging {
	position: fixed;
	top: 0;
	left: 0;
	background:white;
	z-index:1;
}

.main_menu {
	position: absolute;
	z-index:1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height:25%;  
	border-radius: 25px;
	background:black;
	opacity: 0.8;
	/*position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index:1;
	border-radius: 25px;
	background: black;
	width: 30%;
	height:13%;  
	*/
}

.main_menu:hover {
	opacity: 1.0;
}

.menu_button {
	position: absolute;
	z-index:2;
	top: 50%;
	transform: translateY(-50%);
	width: 25%;
	height: 33%;
	border-color: black;
	border-radius: 25px;
	border-style: double;
	border-width: 10px;
	background:white;
	opacity: 0.8;
}

.menu_button p {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.menu_button:hover {
	opacity: 1.0;
}
.left {
	left: 5%;
}
.right {
	right: 5%;
}
.center {
	left: 50%;
	transform: translate(-50%, -50%);
}
.dropdown_container {
	top:62.5%;
    height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0px;
	background: black;
}
.menu_dropdown {
	opacity: 0.8;
    left: 50%;
	top: -35%;
	transform: translateX(-50%);
	position: absolute;
	width: 30%;
	height: auto;
	z-index: 3;
	background: black;
}
.menu_dropdown:hover {
	opacity: 1.0;
}
.menu_dropdown_button {
	position: relative;
	margin-top: 5%;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	background: white;
}
.menu_dropdown_button p {
	position: relative;
	top: 50%;
	margin-left: 3%;
}
